.catalog_block .item-stock, .catalog_block .article_block
{
	text-align: left;
	max-height: 175px;
	overflow: auto;
}

.sa_block > .item-stock-qnty,
.sa_block > .item-stock
{
	display: block;
	text-align: center;
}

.item-stock-qnty > .value
{
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	color: #666;
}

.item_block{
	margin-bottom: 60px !important;
}

.catalog_item.main_item_wrapper.item_wrap:hover{
	box-shadow: 0px 0px 20px rgb(0 0 0 / 10%) !important;
}

