.catalog_block .item-stock, .catalog_block .article_block{ 
	text-align: left;
	max-height: 175px;
	overflow: auto;
}

.catalog_item.main_item_wrapper.item_wrap:hover{
	box-shadow: 0px 0px 20px rgb(0 0 0 / 10%) !important;
}

.item_block{
	margin-bottom: 60px !important;
}